{% extends "CoobixAdminBundle:Admin:index.html.twig" %}
{% block sidebar %}{% endblock sidebar %}

                {# Columna central #}
                {% block main_column %}
                    <div class="col-sm-9  col-md-12  main">

                        {% block alerts %}

                        {% endblock alerts %}

                        <div class="fix"><br></div>
                        {% block main_content %}
                            <div class="alert alert-warning" role="alert"> <strong>Oops!</strong> La página que estas buscando no esta disponible. </div>
                            <p class='text-center'><a href="{{ path('admin')}}" class="btn btn-primary btn-lg " role="button">Ir a inicio</a></p>
                        {% endblock main_content %}
                    </div>
                {% endblock main_column %}

                {% block foot_javascripts %}
                {% endblock foot_javascripts %}

                {% block header %}  
                <!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    {#   <div class="container"> #}
    <div class="header-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="dashboard-logo" href="{{ path('admin') }}">
                <img src="{{ asset('images/logo_header_dashboard.png') }}" >
            </a>
        </div>
        <div class="navbar-collapse collapse">

        </div><!--/.nav-collapse -->
    </div>
    {#   </div> #}
</div>               
                {% endblock header %}