{% extends "CoobixAdminBundle:Admin:index.html.twig" %}

{% block main_content %}

{% block panels %}
<div class="page-header">
    <h1>Inicio</h1>
</div>

{% endblock panels %}

{% endblock main_content %}