{% extends "CoobixAdminBundle:Admin:index.html.twig" %}

{% block foot_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/coobixadmin/js/ckeditor/ckeditor.js') }}"></script>
{% endblock foot_javascripts %}

{% block main_content %}

    {% block page_header %} 
        <div class="page-header">
            <div class="left"><strong>{{ admin.getEditTitle() }}</strong></div>
            <div class="right">
                {% block action_buttons %}
                    {{ form_start(deleteForm, {'attr': {'class': ' btn delete-form'}}) }}
                    {{ form_errors(deleteForm) }}
                    <div>
                        {{ form_widget(deleteForm.submit, {'attr': {'class': 'btn btn-link btn-icon delete-icon'}}) }}
                    </div>
                    {{ form_end(deleteForm) }}
                    {% set routeParams = { 'class': admin.getClassName()|lower } %}
                    <a href="{{ path('admin_list', routeParams) }}" class="btn btn-link btn-icon list-icon">Ir al listado</a>
                {% endblock action_buttons %}
            </div>
            <div class="fix"></div>
        </div>
    {% endblock page_header %}

    {% block form %}
        {{ form_start(form, {'attr': {'class': '', 'role': 'form', 'novalidate': novalidate }}) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}

        {{ form_end(form) }}
    {% endblock form %}

{% endblock main_content %}