{{ form_start(delete_form, {'attr': {'class': 'list-delete-form delete-form'}}) }}
    {{ form_errors(delete_form) }}

    <div>
        {{ form_widget(delete_form.submit, {'attr': {'class': 'delete-icon btn-icon-input'}}) }}
    </div>

{{ form_end(delete_form) }}

