{% extends "CoobixAdminBundle:Admin:index.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/coobixadmin/css/list_search.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/coobixadmin/css/list_bulk.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% set entities = list.getEntities() %}
{% set routeParams = { 'class': admin.getClassName()|lower } %}
{% set listUrl = path('admin_list', routeParams) %}


{% block main_content %}

    {% block page_header %} 
        
        <div class="page-header">
            
            <div class="left">
            {% block list_tit %}
                <strong>Listado de </strong>
            {% endblock list_tit %}
            </div>
            
            <div class="right">
                {% block page_header_btns %}

                    <a href="{{ path('admin_new', routeParams) }}" class="btn btn-link btn-icon add-icon">Agregar</a>
                    {#
                    <a href="" class="btn btn-link pdf-icon btn-icon">PDF</a>
                    #}
                {% endblock page_header_btns %}
            </div>
            <div class="fix"></div>

            {% block list_search_form %}
                {% include 'CoobixAdminBundle:Admin:list_search_form.html.twig' %} 
            {% endblock list_search_form %}

            {% block list_bulk_actions_form %}
                {% include 'CoobixAdminBundle:Admin:list_bulk_actions_form.html.twig' %}
            {% endblock list_bulk_actions_form %}

        </div>
    {% endblock page_header %}


    {% block list_table %}  
    {% endblock list_table %}

    {% block pagerContent %}
        {{ render(controller('CoobixPagerBundle:Pager:pager', { 'pager': pager })) }}
    {% endblock pagerContent %}

{% endblock main_content %}