<span class="dropdown">
    <a id="bulkActionsLink" href="javascript:void(0);" role="button" class="btn btn-link btn-icon bullet-wrench-icon dropdown-toggle" data-toggle="dropdown">Acciones en bloque <b class="caret"></b></a>
</span>
<div id="bulkActionsCont" class="page-header display-none">


    <form role="form" id="listBulkForm" action="{{ path('admin_bulk', routeParams) }}" method="post" >
        <div class="form-group col-md-2">
            <label for="action">Acción</label>         
            <select name="action" class="form-control " placeholder="action">
                <option></option>
                <option value="delete">Borrar</option>
            </select>
        </div>

        <input type="hidden" name="bulkIds" id="bulkIds" value ="0">
        <div class="fix"></div>
        
            <button type="submit" class="btn btn-default btn-form">Enviar</button> 
       
        <div class="fix"></div>


    </form>

</div>