
<span class="dropdown">
    <a id="busquedaAvanzadaLink" href="javascript:void(0);" role="button" class="btn btn-link btn-icon find-icon dropdown-toggle" data-toggle="dropdown">Busqueda avanzada <b class="caret"></b></a>
</span>

{% set listSearchFormIsSubmitedClass = 'display-none' %}

{% if (listSearchFormIsSubmited) %}
    {% set listSearchFormIsSubmitedClass = '' %}
{% endif %}

<div id="busquedaAvanzadaCont" class="{{ listSearchFormIsSubmitedClass }} page-header">
        {% form_theme listSearchForm 'CoobixAdminBundle:Form:sf'~ sfVersion[0] ~'_list_form_div_layout.html.twig' %}
    {{ form_start(listSearchForm, {'attr': {'class': '', 'role': 'form'}}) }}

    {{ form_errors(listSearchForm) }}

    {{ form_widget(listSearchForm) }}

    <div class="fix">
        <button type="submit" class="btn btn-default right btn-form">FILTRAR</button>
        <a href="{{ listUrl }}" class="btn btn-default left btn-form">LIMPIAR</a>
    </div>

    {{ form_end(listSearchForm) }}

    <div class="fix"></div>
</div>