<li>
    <a class="{{ class }}"  href="{{ path('admin') }}">
        Inicio
    </a>
</li>
</li>


{% if (is_granted('ROLE_SUPER_ADMIN'))  %}

    <li>
        <a class="{{ class }}" href="{{ path('admin_list', {'class': 'user'}) }}">Usuarios</a>
    </li>
    <li>
        <a class="{{ class }}" href="{{ path('admin_list', {'class': 'log'}) }}">Logs</a>
    </li>

{% endif %}

<li>
    <a class="{{ class }}" href="{{ path('admin_list', {'class': 'documentation'}) }}">Ayuda</a>
</li>

{% block dev_menu %} 
    <ul class="nav nav-sidebar">
        <li>
            <a class="{{ class }}" href="{{ path('dev') }}">
                DEV
            </a>
        </li>
        <li>
            <a class="{{ class }}" href="{{ path('dev_todo') }}">
                TODO
            </a>
        </li>
        <li>
            <a class="{{ class }}" href="{{ path('dev_crudnew') }}">
                Generar CRUD Admin
            </a>
        </li>
        <li>
            <a class="{{ class }}" href="{{ path('dev_crudbynew') }}">
                Generar CRUD BY Admin
            </a>
        </li>

    </ul>
{% endblock %}
