{% extends "CoobixAdminBundle:Admin:index.html.twig" %}

{% block main_content %}

    {% block page_header %} 
        <div class="page-header">  
            <div class="right">
                {% block action_buttons %}
                    {{ form_start(deleteForm, {'attr': {'class': ' btn delete-form'}}) }}
                    {{ form_errors(deleteForm) }}
                    <div>
                        {{ form_widget(deleteForm.submit, {'attr': {'class': 'btn btn-link btn-icon delete-icon'}}) }}
                    </div>
                    {{ form_end(deleteForm) }}
                    {% set routeParams = { 'class': admin.getClassName()|lower } %}

                    <a href="{{ path('admin_new', routeParams) }}" class="btn btn-link btn-icon add-icon">Agregar</a>
                    <a href="{{ path('admin_list', routeParams) }}" class="btn btn-link btn-icon list-icon">Ir al listado</a>

                    {% set routeParams = { 'id': entity.getId(), 'class': admin.getClassName()|lower } %}
                    <a href="{{ path('admin_edit', routeParams) }}" class="btn btn-link pencil-icon btn-icon">Editar</a>
                    {# 
                    <a href="" class="btn btn-link pdf-icon btn-icon">PDF</a>
                    #}
                {% endblock action_buttons %}
            </div>
            <div class="fix"></div>
        </div>
    {% endblock page_header %}

    {% block data_panel %}  
        <div class="panel panel-info">
            {% block data_heading %}
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {% block panel_title %}

                        {% endblock panel_title %}
                    </h3>
                </div>
            {% endblock data_heading %}
            <div class="panel-body">
                {% block show_fields %}

                {% endblock show_fields %}
            </div>
        </div>
    {% endblock data_panel %}

{% endblock main_content %}
