{% block sidebar %}

    <div class="container-fluid">
        {# Menu #}
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    {{ include('CoobixAdminBundle:Admin:menu.html.twig', {class: ''}) }}
                </ul>
            </div>
        </div>


    </div>

{% endblock sidebar %}