PUBLICOOOO
                {# Columna central #}
                {% block main_column %}
                    <div class="col-sm-9  col-md-12  main">

                        {% block alerts %}

                        {% endblock alerts %}

                        <div class="fix"><br></div>
                        {% block main_content %}
                            PUBLICOOOO
                            <div class="alert alert-warning" role="alert"> <strong>Oops!</strong> La página que estas buscando no esta disponible. </div>
                            <p class='text-center'><a href="{{ path('admin')}}" class="btn btn-primary btn-lg " role="button">Ir a inicio</a></p>
                        {% endblock main_content %}
                    </div>
                {% endblock main_column %}