{% extends "CoobixAdminBundle:Admin:index.html.twig" %}

{% block main_content %}

    {% block panels %}

    {% endblock panels %}
    <br>
    <div class="row">
        <div class="col-sm-12">
           
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Generar entidad</strong>
                </li>
                <li class="list-group-item">
                    Paso 1: Generar entidad
                    <br><br>
                    <pre>$ php app/console doctrine:generate:entity</pre>
                    <br>
                    <pre>The Entity shortcut name: Acme/AppBundle:Test

Configuration format (yml, xml, php, or annotation) [annotation]: ENTER

Do you want to generate an empty repository class [no]? yes</pre>
                    <br>
                    Agregar en la Entidad:
                    <br><br>
                    <pre>use Symfony\Component\Validator\Constraints as assert;</pre>

                    <br>
                    <pre>* @ORM\HasLifecycleCallbacks()</pre>
                    <br>
                    <pre>/**
 * @var \DateTime
 *
 * @ORM\Column(name="createdAt", type="datetime")
 */
 private $createdAt;

 /**
  * @var \DateTime
  *
  * @ORM\Column(name="updatedAt", type="datetime")
  */
  private $updatedAt;

 /**
  * @ORM\PrePersist
  */
 public function prePersist()
 {
     $this->setCreatedAt (new \DateTime);
     $this->setUpdatedAt (new \DateTime);
 }
    
 /**
  * @ORM\PreUpdate
  */
 public function preUpdate()
 {
     $this->setUpdatedAt (new \DateTime);
 }</pre>
                    <br>
                    <pre>public function __toString() 
{
    return '';
}</pre>
                    <br>                   


                    <br>
                    Genero seters y geters:
                    <br><br>
                    <pre>$ php app/console doctrine:generate:entities Acme</pre>
                    <br>
                    Actualizo la base de datos:
                    <br><br>
                    <pre>$ php app/console doctrine:schema:update --force</pre>
                </li>

                <li class="list-group-item">
                    Paso 2: Generar forms de la entidad
                    <br><br>
                    <pre>$ php app/console generate:doctrine:form AcmeAppBundle:Test</pre>
                    <br>
                    Crear el formulario de edit:
                    <br><br>
                    Borrar en el archivo EntidadType: <br>
                    ->add('createdAt')<br>
                    ->add('updatedAd')<br><br>
                    Copiar el EntidadType y pegarlo como EntidadEditType<br>
                    . Cambiar el nombre de la clase en el EntidadEditType<br><br>
                    . En el archivo EntidadEditType agregar<br>
                    ->add('id')




                </li>



                <li class="list-group-item">Porta ac consectetur ac</li>

            </ul>
        </div>
    </div>

{% endblock main_content %}