{% block doctype %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{{ asset('bundles/coobixadmin/images/favicon.ico') }}">

        <title>Dashboard Template for Bootstrap</title>

    {% block stylesheets %}
    {# Bootstrap core CSS #}
        <link href="{{ asset('bundles/coobixadmin/css/bootstrap/bootstrap-3.1.1-dist/css/bootstrap.min.css') }}" rel="stylesheet">

    {# Custom styles for this template #}
        <link href="{{ asset('bundles/coobixadmin/css/dashboard.css') }}" rel="stylesheet">
        
        <link href="{{ asset('bundles/coobixpager/css/layout.css') }}" rel="stylesheet">

    {% endblock stylesheets %}

    {% block javascripts %}
        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock javascripts %}
    </head>

    <body>
    {% block body_content %}   

        <!-- Static navbar -->
        <div class="navbar navbar-default navbar-static-top" role="navigation">
          {#   <div class="container"> #}
            <div class="header-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" id="dashboard-logo" href="{{ path('admin') }}">
                        <img src="{{ asset('bundles/coobixadmin/images/logo_header_dashboard.png') }}" >
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    
                    <ul class="nav navbar-nav navbar-right">
                        {# 
                        <li><a href="../navbar/">Default</a></li>
                        <li class="active"><a href="./">Static top</a></li>
                        #}    
                        
                        {# 
                       {% set routeParams = { 'id': app.user.id, 'entity': 'user' } %}
                        <li>                     
                            <a  href="{{ path('user_profile_admin') }}" role="button" class="btn-link dropdown-toggle" data-toggle="dropdown">{{ app.user.nombre }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a  href="{{ path('user_profile_admin') }}">Mi cuenta</a></li>
                                <li><a  href="{{ path('user_editprofile_admin') }}">Editar mis datos</a></li>
                                <li><a  href="{{ path('fos_user_change_password') }}">Cambiar contraseña</a></li>
                            </ul>
                        </li>

                        <li>
                            <span class="icons-sep">|</span>
                        </li>

                        <li>
                            <a class="door-out-icon btn-link" href="{{ path('fos_user_security_logout') }}">Salir</a>
                        </li>
#}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
          {#   </div> #}
        </div>



        <div class="alert-wrapper">
                {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                    {{ flashMessage }}
            </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="alert alert-info">
                    {{ flashMessage }}
            </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('warning') %}
            <div class="alert alert-warning">
                    {{ flashMessage }}
            </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('danger') %}
            <div class="alert alert-danger">
                    {{ flashMessage }}
            </div>
                {% endfor %}
        </div>








        {% block sidebar %}                 
        {% include 'CoobixAdminBundle:Admin:sidebar.html.twig' %}
        {% endblock sidebar %}
        {# Columna central #}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                    {% block alerts %}
                    {# 
                    <div class="alert alert-success">
                        <strong>Well done!</strong> You successfully read this important alert message.
                    </div>
                    <div class="alert alert-info">
                        <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                    </div>
                    <div class="alert alert-warning">
                        <strong>Warning!</strong> Best check yo self, you're not looking too good.
                    </div>
                    <div class="alert alert-danger">
                        <strong>Oh snap!</strong> Change a few things up and try submitting again.
                    </div>
#}
                    {% endblock alerts %}
                    <div class="fix"><br></div>
                    {% block main_content %}


                    {% endblock main_content %}
        </div>
    </div>
</div>

    {% block foot_javascripts %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="{{ asset('bundles/coobixadmin/js/jquery/jquery-1.11.1.js') }}"></script>
<script src="{{ asset('bundles/coobixadmin/js/bootstrap/bootstrap-3.1.1-dist/js/bootstrap.js') }}"></script>
<script src="{{ asset('bundles/coobixadmin/js/bootboxjs/bootbox.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/coobixadmin/js/dashboard.js') }}"></script>
    {#
    <script src="../../assets/js/docs.min.js"></script>
    #}

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% endblock foot_javascripts %}

{% endblock body_content %}



</body>
</html>
{% endblock doctype %}