{% extends "CoobixAdminBundle:Admin:index.html.twig" %}

{% block foot_javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/coobixadmin/js/ckeditor/ckeditor.js') }}"></script>
{% endblock foot_javascripts %}

{% block main_content %}
<br>
    
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-group">
                
                <li class="list-group-item">
                    <strong>Tasks:</strong>
                </li>
                <li class="list-group-item">
                {% for task in tasks %}
                    {% if task['taskName'] is defined %}
<pre>
<strong>Task</strong>: {{ task['taskName'] }}
<strong>Success</strong>: <strong class="text-{{task['success'] ? 'success' : 'danger'}}">{{task['success'] ? 'YES' : 'NO'}}</strong>
{% set i = 0 %}
{% for taskOutput in task['taskOutputs'] %}
{% set i = i + 1 %}
{{ i }}.<strong>Action</strong>: {{ taskOutput['action'] }}
  <strong>Desc</strong>: {{ taskOutput['desc'] }}
  <strong>Success</strong>: <strong class="text-{{taskOutput['success'] ? 'success' : 'danger'}}">{{taskOutput['success'] ? 'YES' : 'NO'}}</strong>
{% endfor %}
</pre>
{% endif %}
                {% endfor %}
                </li>
            </ul>
        </div>
    </div>
    
        {{ serviceConfig | raw }}

{% block form %}
{{ form_start(form, {'attr': {'class': '', 'role': 'form'}}) }}
    {{ form_errors(form) }}
{{ form_widget(form) }}

{{ form_end(form) }}
{% endblock form %}





{% endblock main_content %}