{% extends "CoobixAdminBundle:Admin:index.html.twig" %}

{% block main_content %}

    {% block panels %}

    {% endblock panels %}
    <br>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>TODO</strong>
                </li>
                <li class="list-group-item">
                    ADMIN: Hacerlo responsive
                </li>

                <li class="list-group-item">
                    ADMIN: El titulo del show / list / new / edit esta muy pegado a la linea
                    de arriba.
                </li>

                <li class="list-group-item">
                    ADMIN: Cuando hay una not found exception por que no ecuentra una entidad
                    hay que hacer que haga algo en vez de dar error.
                    Esto esta, esta redireccionando al list, hay que hacer que cuando no hay list
                    vaya al 404, punto que sigue.
                </li>
                <li class="list-group-item">
                    ADMIN: Hacer una pagina 404
                </li>
                <li class="list-group-item">
                    ADMIN: Arreglar los selects de los formularios, tienen un espacio al pedo ahi
                </li>
                <li class="list-group-item">
                    ADMIN: Hacer que los listados ordenen por campos que sean realacion 
                </li>
                <li class="list-group-item">
                    ADMIN: Ver la manera de cambiar el action de los forms 
                </li>
                <li class="list-group-item">
                    ADMIN: Fijarse de donde se cambia el titulo del admin 
                </li>
                <li class="list-group-item">
                    ADMIN DEV: El formulario para generar el admin crud deberia validar que
                    el Entity Shortcut Name tenga el formato AcmeTestBundle:Test.
                </li>
                <li class="list-group-item">
                    ADMIN DEV: El creador de formularios (list) siempre sale con error en los
                    integers, hacer que salga como int nomas y comentado el choice
                </li>
                <li class="list-group-item">
                    ADMIN DEV: El formulario para generar el admin crud cuando es boolean 
                    tira error
                </li>
                <li class="list-group-item">
                    ADMIN: En el list search el campo date cuando es select no se ven los numeros
                    completos
                </li>

                <li class="list-group-item">
                    ADMIN: Hacer algo como cuenta por activar, en el cual te podes loguear pero
                    no podes hacer nada salvo pagar o cambiar la contraseña.
                </li>
                
                <li class="list-group-item">
                    SACAR ESTE TODO DE ACA Y PONERLO EN EL ARCHIVITO.
                </li>

              
                <li class="list-group-item">

                </li>

            </ul>
        </div>
    </div>

{% endblock main_content %}