{% extends "CoobixAdminBundle:Admin:edit.html.twig" %}

{% block page_header %} 
    <div class="page-header">
        <div class="left">Editar entity1name de <strong>{{ entity.getEntity2Name() }}</strong></div>
        <div class="right">
            {{ form_start(deleteForm, {'attr': {'class': ' btn delete-form'}}) }}
            {{ form_errors(deleteForm) }}
            <div>
                {{ form_widget(deleteForm.submit, {'attr': {'class': 'btn btn-link btn-icon delete-icon'}}) }}
            </div>
            {{ form_end(deleteForm) }}
            {% set routeParams = { 'class': admin.getClassName()|lower } %}
            <a href="{{ path('entity1name_listbyentity2name_admin', {'entity2nameId': entity.getEntity2Name().getId()}) }}" class="btn btn-link btn-icon list-icon">Ir al listado</a>
        </div>
        <div class="fix"></div>
    </div>
{% endblock page_header %}


