{% extends "CoobixAdminBundle:Admin:new.html.twig" %}

{% block main_content %}
    <div class="page-header">
        <div class="left">Crear nueva entity1name para <strong>{{ entity.getEntity2Name() }}</strong></div>
        <div class="right">
            {% set routeParams = { 'entity2nameId': entity.getEntity2Name().getId() } %}
            <a href="{{ path('entity1name_listbyentity2name_admin', routeParams) }}" class="btn btn-link btn-icon list-icon">Ir al listado</a>
        </div>
        <div class="fix"></div>
    </div>

    {% block form %}
        {{ form_start(form, {'attr': {'class': '', 'role': 'form'}}) }}
        {{ form_errors(form) }}
        <div class="display-none">
            {{ form_row(form.entity2Name) }}
        </div>
        {{ form_end(form) }}
    {% endblock form %}

{% endblock main_content %}