{% extends "CoobixAdminBundle:Admin:show.html.twig" %}

{% block panel_title %}
    <strong>EntityName: </strong>
    {{ entity }}
{% endblock panel_title %}

{% block show_fields %}
    {# show-field #}
{% endblock show_fields %}