{% extends "Entity1Name/Admin/show.html.twig" %}

{% block action_buttons %}
    {{ form_start(deleteForm, {'attr': {'class': ' btn delete-form'}}) }}
    {{ form_errors(deleteForm) }}
    <div>
        {{ form_widget(deleteForm.submit, {'attr': {'class': 'btn btn-link btn-icon delete-icon'}}) }}
    </div>
    {{ form_end(deleteForm) }}
    {% set routeParams = { 'class': admin.getClassName()|lower } %}

    <a href="{{ path('entity1name_newbyentity2name_admin', {'entity2nameId': entity.getEntity2Name().getId() } )}}" class="btn btn-link btn-icon add-icon">Agregar</a>
    <a href="{{ path('entity1name_listbyentity2name_admin', {'entity2nameId': entity.getEntity2Name().getId()}) }}" class="btn btn-link btn-icon list-icon">Ir al listado</a>
    
    <a href="{{ path('entity1name_editbyentity2name_admin', { 'id': entity.getId() }) }}" class="btn btn-link pencil-icon btn-icon">Editar</a>
   {# #}
{% endblock action_buttons %}



