{% extends "CoobixAdminBundle:Admin:list.html.twig" %}

{% set entities = list.getEntities() %}



{% block list_search_form %}
    {% set routeParams = { 'entity2nameId': entity2Name.getId() } %}
{% set listUrl =  path('entity1name_listbyentity2name_admin', routeParams) %}
    {% include 'CoobixAdminBundle:Admin:list_search_form.html.twig'  with {'listUrl': listUrl} %} 
{% endblock list_search_form %}

{% block list_bulk_actions_form %}
    <span class="dropdown">
        <a id="bulkActionsLink" href="javascript:void(0);" role="button" class="btn btn-link btn-icon bullet-wrench-icon dropdown-toggle" data-toggle="dropdown">Acciones en bloque <b class="caret"></b></a>
    </span>
    <div id="bulkActionsCont" class="page-header display-none">

        <form role="form" id="listBulkForm" action="{{ path('entity1name_bulkbyentity2name_admin') }}" method="post" >
            <div class="form-group">
                <label for="action">Acción</label>         
                <select name="action" class="form-control" placeholder="action">
                    <option></option>
                    <option value="delete">Borrar</option>
                </select>
            </div>

            <input type="hidden" name="bulkIds" id="bulkIds" value ="0">

            <button type="submit" class="btn btn-default">Enviar</button>  
            <div class="fix"></div>
        </form>

    </div>
{% endblock list_bulk_actions_form %}

{% block list_tit %}
    Listado de Entity1Names de <strong>{{ entity2Name }}</strong>
{% endblock list_tit %}

{% block page_header_btns %}
    <a href="{{ path('entity1name_newbyentity2name_admin', {'entity2nameId': entity2Name.getId() } )}}" class="btn btn-link btn-icon add-icon">Agregar</a>
{% endblock page_header_btns %}

{% block list_table %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    {% set numCols = {# num-cols #} %}
                    <th>
                        <input type="checkbox" id="checkAllbulkChecks" value="" >
                    </th>

                    {# Col-title #}

                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% set num = list.getListMaxResults() * (list.getListPage() - 1) %}
                {% for e in entities %}
                    {% set num = num + 1 %}
                    {% set routeParams = { 'id': e.getId() } %}

                    <tr>
                        <td class="short-td">
                            {{ num }}.  
                            <input type="checkbox" name="bulkCheck" value="{{ e.getId() }}" > 
                        </td>
                        
                        {# Col-value #}
                        
                        <td class="short-td">
                            <a href="{{ path('entity1name_editbyentity2name_admin', { 'id': e.getId() }) }}" class="pencil-icon list-btn-icon"></a>                    
                        </td>
                        <td class="short-td">
                            {{ render(path('entity1name_listdeleteformbyentity2name_admin',  { 'id': e.getId() } )) }}
                                
                            {#  #}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        {% set colspanNum = numCols + 3 %}
                        <td colspan="{{ colspanNum }}">No existen registros.</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock list_table %}