{% extends "CoobixAdminBundle:Admin:list.html.twig" %}

{% block list_tit %}
    <strong>Listado de </strong>
{% endblock list_tit %}

{% block page_header_btns %}
    {{ parent() }}
{% endblock page_header_btns %}

{% block list_table %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    {% set numCols = {# num-cols #} %}
                    <th>
                        <input type="checkbox" id="checkAllbulkChecks" value="" >
                    </th>
                    {# Col-title #}

                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% set num = list.getListMaxResults() * (list.getListPage() - 1) %}
                {% for e in entities %}
                    {% set num = num + 1 %}
                    {% set routeParams = { 'id': e.getId(), 'class': admin.getClassName()|lower } %}

                    <tr>
                        <td class="short-td">
                            {{ num }}.  
                            <input type="checkbox" name="bulkCheck" value="{{ e.getId() }}" > 

                        </td>
                        {# Col-value #}



                        <td class="short-td">
                            <a href="{{ path('admin_edit', routeParams) }}" class="pencil-icon list-btn-icon"></a>                    
                        </td>
                        <td class="short-td">

                            {{ render(controller('CoobixAdminBundle:Sf'~ sfVersion[0] ~'Admin:listDeleteForm', routeParams )) }}     
                            {#  #}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        {% set colspanNum = numCols + 3 %}
                        <td colspan="{{ colspanNum }}">No existen registros.</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock list_table %}