/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
   /* padding-top: 50px; */
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}


/* Top Menu */
.navbar-nav > li > a {
    padding-left: 17px;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/*
 * Admin Styles
 */

/* Header */

.header-container {
    padding: 0px 15px;
}

#dashboard-logo {
    margin-top: 5px;
    padding: 0px;
    height: 40px;
}

.icons-sep {
    padding: 15px 14px 15px 5px;
    line-height: 20px;
    display: block;
    position: relative;
}


/* Icons  */
.pencil-icon {
    background: url(../images/icons/page_white_edit.png) no-repeat 0 center;
}

.delete-icon {
    background: url(../images/icons/delete.png) no-repeat 0 center;
}

.add-icon {
    background: url(../images/icons/add.png) no-repeat 0 center;
}

.list-icon {
    background: url(../images/icons/application_view_list.png) no-repeat 0 center;
}

.pdf-icon {
    background: url(../images/icons/pdf.png) no-repeat 0 center;
}

.door-out-icon {
    background: url(../images/icons/door_out.png) no-repeat 0 center;
}

.bullet-arrow-down-icon {
    background: url(../images/icons/bullet_arrow_down.png) no-repeat 0 center;
}

.key-icon {
    background: url(../images/icons/key.png) no-repeat 0 center;
}

.padlock-icon {
    background: url(../images/icons/lock_open.png) no-repeat 0 center;
}

.status-online-icon {
    background: url(../images/icons/status_online.png) no-repeat 0 center;
}

.accept-icon {
    background: url(../images/icons/accept.png) no-repeat 0 center;
}

.arrow-up-icon {
    background: url(../images/icons/arrow_up.png) no-repeat 0 center;
}

.print-icon {
    background: url(../images/icons/printer.png) no-repeat 0 center;
}



.btn-icon {
    padding: 6px 12px 6px 18px;
}

.btn-icon-input {
    padding: 8px;
    border: medium none;
}




/* Alerts  */
.alert-wrapper {
    margin: -60px auto 0;
    width: 400px;
    z-index: 1031;
    position: relative;
}

.alert {
    text-align: center;
}


/* Sidebar */ 
.sidebar {
    background-color: #fff;
}

/* List */

.table > tbody > tr > td.short-td {
    padding: 9px 1px;
}

.list-delete-form {
    margin: -4px 0 0;
}

.list-btn-icon {
    padding: 8px 8px 8px 8px;
}


/* Form */

textarea.form-control {
    height: 300px;
}

.btn-form {
    margin: 0 0 0 10px;
}



/* Varios */ 

.display-none {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.fix {
    clear: both;
}

.border-bottom {
    border-bottom: 1px solid #ddd;
}

.padding-vert-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-group-checkbox label {
    
    padding: 0 5px;
}

input[type=checkbox] {
    margin-top: 0px; 
    margin-left: 10px; 
}



