/* Estilos del list search  */
.find-icon {
    background: url(../images/icons/zoom.png) no-repeat 0 center;
}

.c-col-date-widget {
    padding-left: 1px;
    padding-right: 1px;
}

.c-col-date-widget input {
    padding: 6px 7px;
}

.c-col-date-widget select {
    padding: 6px 0px;
}


