
/* Icons  */
.bullet-wrench-icon {
    background: url(../images/icons/bullet_wrench.png) no-repeat 0 center;
}

#listBulkForm {

}

#listBulkForm .form-group {
    //width: 20%;
    //float: left;
}

#listBulkForm .btn-default {
    //float: left;
    //margin: 25px 0 0 20px;
}
