{% extends 'CoobixAdminBundle:Form:sf3_form_div_layout.html.twig' %}
{# Widgets #}

{%- block date_widget -%}
{% if (widget == 'single_text') %}
    {{ block('form_widget_simple') }}
{% elseif (widget == 'text') %}
    <div {{ block('widget_container_attributes') }}>
        {{ date_pattern|replace({
                '{{ year }}':   ['<div class="col-sm-5 c-col-date-widget">', form_widget(form.year), '</div>']|join ,
                '{{ month }}':  ['<div class="col-sm-3 c-col-date-widget">', form_widget(form.month), '</div>']|join,
                '{{ day }}':    ['<div class="col-sm-3 c-col-date-widget">', form_widget(form.day), '</div>']|join,
            })|raw }}
    </div>
{% else  %}
    <div {{ block('widget_container_attributes') }}>
        {{ date_pattern|replace({
                '{{ year }}':   ['<div class="col-sm-5 c-col-date-widget">', form_widget(form.year), '</div>']|join ,
                '{{ month }}':  ['<div class="col-sm-3 c-col-date-widget">', form_widget(form.month), '</div>']|join,
                '{{ day }}':    ['<div class="col-sm-3 c-col-date-widget">', form_widget(form.day), '</div>']|join,
            })|raw }}

    </div>
{% endif %}
{%- endblock date_widget -%}

{%- block form_row -%}
{# Cambio #}    
<div class="form-group col-xs-2">
    {{ form_label(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <div class="fix"></div>
</div>
{%- endblock form_row -%}
