{% extends 'CoobixAdminBundle:Form:form_div_layout.html.twig' %}
{# Widgets #}
{% block textarea_widget %}
    {% spaceless %}
        <div class="field-widget">
            <textarea  {{ block('textarea_widget_attributes') }}>{{ value }}</textarea>
        </div>
    {% endspaceless %}
{% endblock textarea_widget %}

{%- block choice_widget_expanded -%}
<div {{ block('widget_container_attributes') }}>
    {%- for child in form %}
    {{- form_widget(child) -}}
    {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
    <div class="fix"></div>
    {% endfor -%}
    </div>
    {%- endblock choice_widget_expanded -%}


    {%- block date_widget -%}
    {%- if widget == 'single_text' -%}
    {{ block('form_widget_simple') }}
    {%- else -%}
    <div {{ block('widget_container_attributes') }}>
        {{- date_pattern|replace({
                '{{ year }}':   ['<div class="col-xs-2" >', form_widget(form.year), '</div>']|join ,
                '{{ month }}':  ['<div class="col-xs-2" >', form_widget(form.month), '</div>']|join,
                '{{ day }}':    ['<div class="col-xs-2" >', form_widget(form.day), '</div>']|join,
            })|raw -}}
    </div>
    {%- endif -%}
    {%- endblock date_widget -%}

    {%- block time_widget -%}
    {%- if widget == 'single_text' -%}
    {{ block('form_widget_simple') }}
    {%- else -%}
    {%- set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} -%}
    <div {{ block('widget_container_attributes') }}>
        <div class="col-xs-2">{{ form_widget(form.hour, vars) }}</div>
        {% if with_minutes %}
            <div class="left">:</div>
            <div class="col-xs-2">{{ form_widget(form.minute, vars) }}</div>
        {% endif %}
        {% if with_seconds %}
            <div class="left">:</div>
            <div class="col-xs-2">{{ form_widget(form.second, vars) }}</div>
        {% endif %}
    </div>
    {%- endif -%}
    {%- endblock time_widget -%}

    {%- block checkbox_widget -%}
    <input type="checkbox" {{ block('checkbox_widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {%- endblock checkbox_widget -%}

    
    {# Labels #}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</label>
    {%- endif -%}
    {# cambio #}
    {% if required %}
        <span class="required">*</span>
    {% endif %}
{%- endblock form_label -%}
    
    
    
    {# Rows #}


    {%- block form_row -%}
    <div class="form-group">
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
        <div class="fix"></div>
    </div>
    {%- endblock form_row -%}


    {# Misc #}

    {%- block form_start -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form {{ novalidate }} name="{{ name }}" method="{{ form_method|lower }}"{% if action != '' %} action="{{ action }}"{% endif %}{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{%- endblock form_start -%}

    {# Support #}

    {%- block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}"
    {%- if disabled %} disabled="disabled"{% endif -%}
        {%- if required %} required="required"{% endif -%}
            {%- for attrname, attrvalue in attr -%}
            {{- " " -}}
            {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
            {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
            {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
            {%- endif -%}
            {%- endfor -%}
            {# Cambio #}
            {%- if  ['class'] not in attr|keys -%}           
            class="form-control"       
            {%- endif -%}
            {# Cambio #}
            {%- endblock widget_attributes -%}

            {# Cambio #}
            {% block textarea_widget_attributes %}
                id="{{ id }}" name="{{ full_name }}"
                {%- if disabled %} disabled="disabled"{% endif -%}
                    {%- if required %} required="required"{% endif -%}
                        {%- for attrname, attrvalue in attr -%}
                        {{- " " -}}
                        {%- if attrname in ['placeholder', 'title'] -%}
                        {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
                        {%- elseif attrvalue is same as(true) -%}
                        {{- attrname }}="{{ attrname }}"
                        {%- elseif attrvalue is not same as(false) -%}
                        {{- attrname }}="{{ attrvalue }}"
                        {%- endif -%}
                        {%- endfor -%}
                        {# Cambio #}
                        {%- if  ['class'] not in attr|keys -%}           
                        class="form-control ckeditor"     
                        {%- endif -%}
                        {# Cambio #}
                        {% endblock textarea_widget_attributes %}


                            {%- block button_attributes -%}
                            id="{{ id }}" name="{{ full_name }}"{% if disabled %} disabled="disabled"{% endif -%}
                            {%- for attrname, attrvalue in attr -%}
                            {{- " " -}}
                            {%- if attrname in ['placeholder', 'title'] -%}
                            {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
                            {%- elseif attrvalue is same as(true) -%}
                            {{- attrname }}="{{ attrname }}"
                            {%- elseif attrvalue is not same as(false) -%}
                            {{- attrname }}="{{ attrvalue }}"
                            {%- endif -%}
                            {%- endfor -%}
                            {# Cambio #}
                            {%- if  ['class'] not in attr|keys -%}           
                            class="btn btn-default right btn-form"       
                            {%- endif -%}
                            {# Cambio #}
                            {%- endblock button_attributes -%}

                            {# Cambio #}
                            {% block checkbox_widget_attributes %}
                                id="{{ id }}" name="{{ full_name }}"{% if disabled %} disabled="disabled"{% endif -%}
                                {%- for attrname, attrvalue in attr -%}
                                {{- " " -}}
                                {%- if attrname in ['placeholder', 'title'] -%}
                                {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
                                {%- elseif attrvalue is same as(true) -%}
                                {{- attrname }}="{{ attrname }}"
                                {%- elseif attrvalue is not same as(false) -%}
                                {{- attrname }}="{{ attrvalue }}"
                                {%- endif -%}
                                {%- endfor -%}
                                {# Cambio #}
                                {%- if  ['class'] not in attr|keys -%}           
                                class="checkbox-inline"
                                {%- endif -%}
                                {# Cambio #}
                            {% endblock checkbox_widget_attributes %}